<div class="tile is-ancestor">
 <div class="tile is-4 is-vertical is-parent">
  <img src="https://archives.bulbagarden.net/media/upload/thumb/3/3e/Lets_Go_Pikachu_Eevee_Professor_Oak.png/180px-Lets_Go_Pikachu_Eevee_Professor_Oak.png" width="50%"/>
 </div>
 <div class="tile is-parent">
  Hello there, welcome to the world of Pokemon!
  <br /><br />
  My name is Oak! People call me the Pokemon Prof!
  <br /><br />
  This world is inhabited by creatures called Pokemn!
  <br /><br />
  For some people, Pokemon are pets. Other use them for fights.
  <br /><br />
  Myself... I study Pokemon as a proffesion.
  <br /><br />
  Your very own Pokemon legend is about to unfold! A world of dreams and adventure with Pokemon awaits! Let's go!
 </div>
</div>
