.input {
  width: 300px;
}

.container {
  margin-top: 50px;
  width: 434px;
}

.box {
  margin-top: 25px;
}

.flexbox,
.rij_1,
.rij_2,
.rij_3 {
  display: flex;
}

.flexbox {
  flex-direction: column;
}

.rij_1 {
  flex-direction: row;
  gap: 10px;
}

.rij_2 {
  flex-direction: column;
}

.rij_3 {
  flex-direction: row;
  gap: 10px;
}
